/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 55ch;
}

:root {
    --card-padding: 20px;
    --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    /* light */
    --clr-bodybg: #ffffff;
    --clr-rowbg: rgba(136, 122, 226, 0.12);
    
    --clr-bodytext: #3e5574;
    --clr-oddbg: #d7dde2;
    --clr-oddtext: #2b3c51;
    --clr-evenbg: #b2bcc8;
    --clr-eventext: #19222f;

    /* dark */
    --clr-darkbodybg: #000000;
    --clr-darkrowbg: #1E1B32;
    --clr-darkbodytext: #b3bdca;
    --clr-darkoddbg: #19222f;
    --clr-darkoddtext: #b3bdca;
    --clr-darkevenbg: #2b3c51;/*d8dfe3*/
    --clr-darkeventext: #d8dfe3;

    /* darkbodybg, darkevenbg, darkeventext */
    --clr-accent: #000000; 
    --clr-green-400: #2b3c51; 
    --clr-accent-light-1: #d8dfe3;

    /* bodybg, evenbg, eventext */
    /* --clr-accent: #ffffff; 
    --clr-green-400: #b2bcc8;
    --clr-accent-light-1: #19222f; */
    --flow2-space: 3rem;
}

body {
    margin:0px 8px;
    font-family: Arial, sans-serif;
    background-color: var(--clr-bodybg);
    color: var(--clr-bodytext);
}

#bucketLists div {
    margin-bottom: 20px;
}

h1
{
    font-size: 28px;
}

h2
{
    font-size: 24px;
}

.flow {
    margin-bottom: 20px;
}

.cards-container {
    grid-column: 2 / span 12;
    display: grid;
    gap: var(--card-padding);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto auto auto auto auto;
}

.card {
    background-color: var(--clr-primary-light-1);
    padding: var(--card-padding);
    box-shadow: var(--border-shadow);
    /* every card spans across 5 rows of the main grid */
    grid-row: span 5;
    display: grid;

    /* create subgrid for rows to use row column tracks of the parent and name the row lines*/
    grid-template-rows: subgrid [photo-start][photo-end subtitle-start][subtitle-end title-start] [title-end text-start] [text-end addbutton-start] [addbutton-end];

    .card-title {
        grid-row: title;
    }

    .card-subtitle {
        grid-row: subtitle;
    }

    .card-photo {
        img {
            width: 100%;
        }

        grid-row: photo;
    }

    .card-text {
        grid-row: text;
    }

    .card-addbutton {
        grid-row: addbutton;
        display: flex;
        justify-content: center;

        /* figure {
            display: flex;
            align-items: center;
            gap: var(--card-padding);

            img {
                width: 60px;
                height: 60px;
                border: 1px solid black;
                border-radius: 50%;
            }
        }

        figcaption {
            display: flex;
            flex-direction: column;

            * {
                font-size: var(--fs-200);
            }

            p {
                font-weight: var(--fw-500);
            }
        } */
    }
}

.oddcolorrow {
    padding-block-start: 10px;
    background-color: var(--clr-evenbg);
    grid-column: 1 / -1;
}

footer {
    padding-block: var(--flow2-space);
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    .footwrapper {
        grid-column-start: 2;
    }
}

.button-20,
.button-20:visited {
    appearance: button;
    background-color: var(--clr-green-400);
    border-radius: 1rem;
    color: var(--clr-accent-light-1);
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.button-20,
.button-20:visited {
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid var(--clr-accent);
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
    outline: 0;
}

.button-20:hover,
.button-20:focus {
    background-color: var(--clr-accent-light-1);
    border-color: var(--clr-accent);
    color: var(--clr-accent);
    text-decoration: none;
}

.button-20:active {
    background-color: var(--clr-accent);
    border-color: var(--clr-accent-light-1);
    color: var(--clr-accent-light-1);
    text-decoration: none;
}

.button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, var(--clr-accent) 0 0 0 .2rem;
}

ul li {
    padding: 12px 8px 12px 20px;
    display:grid;
    gap:20px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    

    input[type="checkbox"] {
        transform: scale(2.5);
    }

    input[type="button"] {
        padding:8px 10px;
    }
}

ul li:nth-child(odd) {
    background: var(--clr-oddbg);
    color: var(--clr-oddtext);
}
ul li:nth-child(even) {
    background: var(--clr-evenbg);
    color: var(--clr-eventext);
}

button {
    margin-left: 10px;
}

.container {
    display: grid;

    main {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    header {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    nav {
        grid-column: 2 / -2;
        height: 7rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h1 {
            margin: auto auto auto 1rem;
            text-transform: uppercase;
        }
    }
}

dialog {
    background-color: var(--clr-bodybg);
    margin: 15% auto;
    border: 1px solid #888;

    &::backdrop {
            background-color: var(--clr-green-400);
            background-image: linear-gradient(45deg,
                    magenta,
                    rebeccapurple,
                    dodgerblue,
                    green);
            opacity: 0.75;
    }

    form {
        padding:20px;
    }

    &>section {
        display: flex;
        flex-direction: row;
    }
}

.dialog-contentwrapper {
    display: flex;
    flex-direction: column;
    &>button {
        align-self: end;
    }
}

fieldset {
    padding: 10px;
    border-style: none;

    form *:first-child {
        margin-inline-start: 10px;
    }
    form *:last-child {
        margin-inline-end: 10px;
    }
    
    legend {
        padding-inline: 10px;
    }

    form {
        display: flex;
        gap: 10px;
    }
}

.close {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark light;
    }

    body {
        background-color: var(--clr-darkbodybg);
        color: var(--clr-darkbodytext);
    }

    ul li:nth-child(odd) {
        background-color: var(--clr-darkoddbg);
        color: var(--clr-darkoddtext);
    }

    ul li:nth-child(even) {
        background-color: var(--clr-darkevenbg);
        color: var(--clr-darkeventext);
    }

    dialog {
        background-color: var(--clr-darkbodybg);
    }

    .oddcolorrow {
        background-color:var(--clr-darkevenbg);
    }
}

@media (width < 730px) {
    fieldset {
        &>form {
            flex-direction: column;
            gap:30px;
            &> * {
                margin-inline-start: 10px;
                margin-inline-end: 10px;
            }
        }

        button {
            align-self: end;
        }
    }

    /* mobile */
    .container {
        grid-template-columns: var(--card-padding) repeat(2, 1fr) var(--card-padding);

        main>h2,
        main>p,
        main>dialog,
        main>section,
        main.cards-container {
            grid-column: 2 / span 2;
        }

        main>fieldset {
            grid-column: 2 / span 1;
        }

        .cards-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .oddcolorrow {
        grid-column: 1 / -3;
        overflow-wrap: break-word;
    }
}

@media (width >=730px) and (width < 950px) {

    /* tablet */
    .container {
        grid-template-columns: var(--card-padding) repeat(2, 1fr) var(--card-padding);

        main>h2,
        main>p,
        main>dialog,
        main>fieldset,
        main>section,
        main.cards-container {
            grid-column: 2 / span 2;
        }

        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }

        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (width >=950px) {
    .container {
        grid-template-columns: auto repeat(12, 75px) auto;

        main>h2,
        main>p,
        main>dialog,
        main>fieldset,
        main>section,
        main.cards-container {
            grid-column: 2 / span 12;
        }

        .cards-container {
            grid-template-columns: repeat(4, 1fr);
        }

        .footwrapper {
            grid-column: 2 / 7;
        }
    }
}